# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
env/
venv/
.smartsheet-env/
.smartsheet-logs/
*.env
# VS Code
*.vscode/
*.code-workspace

# Excel output files
*.xlsx

# OS stuff
.DS_Store
Thumbs.db
